li .active{
    border-bottom: 2px solid red;
    color: red !important;
    font-weight: bold;
}
.img-css-carousel{
    height: 550px;
    width: 100%;
    object-fit: contain;
    
  
}
.img-carousel-short{
    height: 110px !important;
    width: 110px !important;
    background: none !important;
   
}
.NavLogo{
    height: 50px;
    width: 60px;
    object-fit: cover;
}
.card-img-css{
    height: 220px !important;
    object-fit: contain !important;
}
